@media (max-width: 960px) {
    /* index */
    .sub-section .box-video {
        display: none;
    }
    .icon-invest {
        margin: 0 auto;
        float: none;
    }
    .list-invest h5 {
        text-align: center;
    }
    .list-invest p {
        text-align: center;
    }
    .partners .img-partner {
        width: auto;
        height: 25px;
        margin: 25px 10px;
    }
    .section-box-download {
        display: none;
    }

    /* Login, Register, Forgot Password */
    .login .background {
        display: none;
    }
    .login .form-login {
        display: inline-block;
        float: right;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px 50px 30px;
    }
    .login .form-login .login-logo {
        display: block;
        padding: 20px 40px 40px;
    }
    

    /* List Page */
    .search-select {
        display: none;
    }
    .content .list-action {
        display: inline-block;
        width: 100%;
    }

    /* Detail Page */
    .section-mobile-header {
        padding: 0;
    }
    .header-name-detail {
        display: none;
    }
    .milestone .desc .step {
        display: flex;
        min-width: 45px;
        max-width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 6px solid #eee;
        background: #fff;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .milestone .desc .active {
        border-color: #f08521;
    }
    .progress-bridge {
        position: absolute;
        width: 28px;
        height: 6px;
        background: #eee;
        right: -24%;
        top: 15%;
        z-index: 999;
    }
    .bridge-active {
        background: #f08521;
    }
    .milestone h5 {
        display: block;
        font-size: 12px;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        line-height: 18px;
    }
    .nav-tabs .nav-item {
        margin: 0 auto;
    }
    .tab-content {
        padding: 30px 15px 0;
    }

    /* Checkout Page */
    .content-checkout {
        padding: 100px 20px 50px 20px;
    }
    

}
